[submodule "lisp/packages/posframe"]
	path = lisp/packages/posframe
	url = https://github.com/tumashu/posframe.git
[submodule "lisp/packages/markdown-mode"]
	path = lisp/packages/markdown-mode
	url = https://github.com/jrblevin/markdown-mode.git
[submodule "lisp/packages/yasnippet"]
	path = lisp/packages/yasnippet
	url = https://github.com/joaotavora/yasnippet.git
[submodule "lisp/packages/lsp-bridge"]
	path = lisp/packages/lsp-bridge
	url = https://github.com/manateelazycat/lsp-bridge.git
[submodule "vertico"]
	path = lisp/packages/vertico
	url = https://github.com/minad/vertico.git
[submodule "orderless"]
	path = lisp/packages/orderless
	url = https://github.com/oantolin/orderless.git
[submodule "marginalia"]
	path = lisp/packages/marginalia
	url = https://github.com/minad/marginalia.git
[submodule "web-mode"]
	path = lisp/packages/web-mode
	url = https://github.com/fxbois/web-mode.git
[submodule "auto-save"]
	path = lisp/packages/auto-save
	url = https://github.com/manateelazycat/auto-save.git
[submodule "snails"]
	path = lisp/packages/snails
	url = https://github.com/manateelazycat/snails.git
[submodule "meow"]
	path = lisp/packages/meow
	url = https://github.com/meow-edit/meow.git
