[submodule "lisp/packages/posframe"]
	path = lisp/packages/posframe
	url = https://github.com/tumashu/posframe.git
[submodule "lisp/packages/markdown-mode"]
	path = lisp/packages/markdown-mode
	url = https://github.com/jrblevin/markdown-mode.git
[submodule "lisp/packages/yasnippet"]
	path = lisp/packages/yasnippet
	url = https://github.com/joaotavora/yasnippet.git
[submodule "lisp/packages/lsp-bridge"]
	path = lisp/packages/lsp-bridge
	url = https://github.com/manateelazycat/lsp-bridge.git
